{{ define "Leap"}}
<li class="leap">
  <p class="leap__name">
    {{ .Name }}
    <a href="{{ .Original }}" target="_blank" rel="noopener noreferrer"
      ><span>open</span></a
    >
  </p>
  <p class="leap__shortcut">
    shortcut: <a href="/{{ .Shortcut }}">{{ .Shortcut }}</a>
  </p>
  <p>{{ .Original }}</p>

  <div class="tags">
    {{ range .Tags }}
    <button
      class="pill"
      hx-get="/tags/{{.}}"
      hx-trigger="click"
      hx-swap="#leaps"
    >
      {{.}}
    </button>
    {{ end }}
  </div>
</li>

{{ end }}
