<!DOCTYPE html>
<html lang="en">
{{ template "Header" "home"}}

<body>
  <h1>Welcome to Redirect.cafe</h1>
  <h2>A place to store all your favorite places around the web</h2>
  <form class="search" hx-action="q">
    <input type="text" class="search__input" placeholder="Search..." />
    <button type="submit" class="search__btn">Submit</button>
  </form>
  <ul hx-get="/relays?n={{.}}" hx-swap="innerHTML" hx-trigger="load" class="relays" id="relays">
    <li>Fetching relays...</li>
  </ul>
</body>

</html>